* {
  margin: 0;
  padding: 0
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin: 0 auto;
  max-width: 70em;
  line-height: 1.5;
  padding: 4em 1em;
  text-align: center;
  color: rgb(82, 87, 92);
}

h1,
h3 {
  font-weight: 500;
  color: #333;
}

h4 {
  text-align: left;
  padding-left: 22px;
  margin: 20px 0 10px;
}

.title {
  margin-top: 1em;
  margin-bottom: 2em;
  padding-top: 1em;
  text-align: center;
}

.btn {
  background-color: #69c;
  border-radius: 16px;
  border: none;
  color: #ffffff;
  display: block;
  font-size: 14px;
  line-height: 32px;
  outline: none;
  text-transform: capitalize;
  padding: 0 20px;
  margin-left: 1.5em;
  margin-bottom: 7em;
}

.btn:hover {
  cursor: pointer;
}

#input {
  vertical-align: top;
  display: inline;
}

#input:after {
  clear: both;
}

p {
  font-size: 14px;
  line-height: 25px;
  padding: 0 0 10px 22px;
  text-align: left;
}

main > div {
  float: left;
  width: 50%;
}

main:after {
  content: "";
  clear: both;
  display: table;
}

.hidden-1 {
  display: none;
}

.shown {
  display: block;
}

.index-number-0 {
  padding-top: 0;
}

textarea {
  margin-bottom: 2em;
  margin-left: 1.5em;
  margin-top: 5.68em;
  padding: 10px;
  line-height: 1.5;
  border: 1px solid #ccc;
  width: 520px;
  height: 220px;
  background: #f5f7f9;
  color: #566b78;
}

textarea,
input {
  outline: none;
}

#input textarea {
  border-left: 2px solid #69c;
}

#output textarea {
  border-right: 2px solid #69c;
}

.note {
  border-bottom: 1px solid rgba(0,0,0,0.2);
  background-color: rgba(187,239,253,0.3);
  font-size: 14px;
  font-weight: 500;
  padding: 0;
  color: #1a1a1a;
  margin: 1.238em 0 0 .2em;
}

.note a {
  color: inherit;
  text-decoration: none;
}

ul,
ul li {
  margin: 0;
  text-indent: 0;
  list-style-type: 0;
}

ul {
  padding: 0 0 0 3.5em;
}

ul li p {
  padding: 0;
  font-size: 12px;
}